body{

	background: no-repeat fixed center;
	background-color:#383627;
	background-image: url("image/76061.jpg");
}
.design input[type=submit],.design input[type=button]{
	border: none;
        background: linear-gradient(#FDD470,#D49739);
	border-radius: 30px;
	line-height:50px;
	text-align:center;
	font-size: 20px; 
	font-weight: bold;
        text-decoration:none;
	color: #8E5918 ;
	vertical-align:middle;
	padding: 0px 48px;
        cursor: pointer;

 }
 input{
    padding:10px 10px;
    margin-bottom: 11px;
    background: linear-gradient(#EFEFEF,#EEEFEF);
    border-radius: 9px;
    border:0.5px #D4D4D4;
    text-decoration:none;
    
 }
 .inputA a{
     text-decoration: none;
 }
 .avatar img{
 	 border-radius: 50%;
 	  height: 100px;
    width: 100px !important;
    float: left;
 }
.mainexterieur{
	padding: 5px 5px;
	background-color: #FDFDFD;
	margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
	width: 35%
	
}
.mainBox{
	
	background-color: #FDFDFD;
	margin: auto;
	/*width: 50%;*/
        /*border: 1px dashed;*/
	/*padding: 58px;*/
	/*margin-top: 88px;*/
}
.center {
    margin: auto;
    width: 50%;
    border: dashed;
    padding: 100px;
}
.fullLarge{

	width: 100%;
	float: left;
	padding-bottom: 10px;
	display: inline-block; 
	
}
.large40{
	width: 40%;
	float: left;
}
.large60{
	width: 60%;
}
.large25{
	/*width: 25%;*/
	float: left;
	margin-right: 63px;
}
.large20{

	width: 20%;
/*float: left;*/

	display: inline-block;
}

.large15{

    width: 15%;
    /*margin-left: 15px;*/
	float: left;
	display: inline-block;
}
.large5{

	width: 33%;

	float: left;
	display: inline-block;
}
.large2{

	/*width: 25%;*/
	margin-left: 50px;
	margin-right: -15px;
	float: left;
	display: inline-block;
}
.design input[type=submit]{
     
    font-size: 20px;
}
.design input[type=submit]:hover{
  	 opacity: 0.5;
     background-color: #deeff7;
 }
     
.arrondi{
	  border-radius: 10px;

}
.libelle span{
	color: #fffb6c;
    font-size: 21px;
    font-style: italic;
    font-weight: 800

}
.textStyle{
font-family: 'Galada', cursive;
text-shadow: 4px 4px 4px #aaa;
/*font-family: 'Font Name', serif;*/
font-size: 2.5em;
color: #f9ef6b;
/*border: none;*/
}
.floatRight{
	float: right;
}
.sameLine{
	display: inline-block;
	padding-left: 5px;
}
.listePartie{
    margin: 0 auto;
    display: block;
    text-align: center;
}

